<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="smtpUser" value="mymail@gmail.com" />
    <add key="smtpPass" value="mypassword" />
    <add key="to" value="tomail@gmail.com" />
    <add key="path" value="D:/Data/7th Semester/IPT/Assignment/2/K164037_Q5/Tracker/"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="mymail@gmail.com" deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587"
                 userName="mymail@gmail.com"
                 password="password" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>