<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="path" value="D:/Data/7th Semester/IPT/Assignment/2/K164037_Q5/Tracker/"/>
    <add key="path2" value="D:/Data/7th Semester/IPT/Assignment/2/K164037_Q5/Copy Folder/"/>
  </appSettings>
</configuration>